<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
       xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns:p="http://primefaces.org/ui">
    <h:head>
        
    </h:head>
    <h:body>
        <!-- Core Scripts - Include with every page -->
    <h:outputScript name="assets/plugins/jquery-1.10.2.js" library="js" />
    <h:outputScript name="assets/plugins/bootstrap/bootstrap.min.js" library="js" />
    <h:outputScript name="assets/plugins/metisMenu/jquery.metisMenu.js" library="js" />
    <h:outputScript name="assets/plugins/pace/pace.js" library="js" />
    <h:outputScript name="assets/scripts/siminta.js" library="js" />
    <h:outputScript name="assets/plugins/morris/raphael-2.1.0.min.js" library="js" />
    <h:outputScript name="assets/plugins/morris/morris.js" library="js" />
    <h:outputScript name="assets/scripts/dashboard-demo.js" library="js" />
    <h:outputScript name="assets/scripts/siminta.js" library="js" />
    <h:outputScript name="assets/scripts/dashboard-demo.js" library="js" />
    </h:body>
</html>

