
<!DOCTYPE html [
    <!ENTITY nbsp "&#xA0;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
   
   </h:head>
    <h:body>
        
        <ui:insert name="header" >
		  <ui:include src="AdminHeader.xhtml" />
        </ui:insert>
        <h:form>
    <!--  wrapper -->
    <div id="wrapper">
       
        <!--  page-wrapper -->
        <div id="page-wrapper">

            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Main Page</h1>
                </div>
                <!--End Page Header -->
            </div>

            <div class="row">
                <!-- Welcome -->
                <div class="col-lg-12">
                    <div class="alert alert-info">
                        <h:graphicImage name="images/hello.jpg" library="images"/>
<!--                        <i class="fa fa-folder-open"></i>-->
                        <b>&nbsp;Hello ! </b>Welcome Back <b>Admin </b>
<!-- <i class="fa  fa-pencil"></i><b>&nbsp;20  </b>Vendors Pending to add them .;-->
                    </div>
                </div>
                <!--end  Welcome -->
            </div>


            <div class="row">
                <!--quick info section -->
                <div class="col-lg-3">
                    <div class="alert alert-danger text-center">
<!--                        <i class="fa fa-calendar fa-3x"></i>-->
  <h:graphicImage name="images/pending.jpg" library="images"/>
                        &nbsp;<b>20 </b>Pending offers 

                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="alert alert-success text-center">
                        <h:graphicImage name="images/green.jpg" library="images"/>
<!--                        <i class="fa  fa-beer fa-3x"></i>-->
                        &nbsp;<b>27 </b>vendors benefite from Hatswa2 
                    </div>
                </div>
<!--                <div class="col-lg-3">
                    <div class="alert alert-info text-center">
                        <i class="fa fa-rss fa-3x"></i>&nbsp;<b>10</b>New messages

                    </div>
                </div>-->
<!--                <div class="col-lg-3">
                    <div class="alert alert-warning text-center">
                        <i class="fa  fa-pencil fa-3x"></i>&nbsp;<b>200  </b>Vendors using website
                    </div>
                </div>-->
                <!--end quick info section -->
            </div>

            <div class="row">
                <div class="col-lg-8">



                    <!--Area chart example -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i>Area Chart Example
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>

                    </div>
                    <!--End area chart example -->
                    
                </div>

                <div class="col-lg-4">
                    <div class="panel panel-primary text-center no-boder">
                        <div class="panel-body yellow">
                            <h:graphicImage name="images/yellow.jpg" library="images"/>
<!--                            <i class="fa fa-bar-chart-o fa-3x"></i>-->
                            <h3>1000 </h3>
                        </div>
                        <div class="panel-footer">
                            <span class="panel-eyecandy-title">Daily User Visits website
                            </span>
                        </div>
                    </div>
                    <div class="panel panel-primary text-center no-boder">
                        <div class="panel-body blue">
                            <h:graphicImage name="images/blue.jpg" library="images"/>
<!--                            <i class="fa fa-pencil-square-o fa-3x"></i>-->
                            <h3>60 </h3>
                        </div>
                        <div class="panel-footer">
                            <span class="panel-eyecandy-title">No of users in mobile application
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page-wrapper -->

    </div>
    <!-- end wrapper -->

        <ui:insert name="footer" >
             <ui:include src="AdminVendorFooter.xhtml" />
        </ui:insert>

</h:form>
</h:body>

</html>
