<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Hatswaq | Contact Us</title>
        <h:outputStylesheet library="css" name="css/bootstrap.css"/>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <h:outputScript name="js/jquery.min.js" library="js"/>
        <!-- Custom Theme files -->
        <h:outputStylesheet library="css" name="css/style.css"/>
        <h:outputStylesheet library="css" name="css/component.css"/>
        <!-- Custom Theme files -->
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!--webfont-->
        <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css' media="screen"/>
        <link href='http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css' media="screen"/>
        <h:outputScript name="js/jquery.easydropdown.js" library="js"/>
        <!-- Add fancyBox main JS and CSS files -->
        <h:outputScript name="js/jquery.magnific-popup.js" library="js"/>
        <h:outputStylesheet library="css" name="css/magnific-popup.css"/>
        <script>
            $(document).ready(function () {
                $('.popup-with-zoom-anim').magnificPopup({
                    type: 'inline',
                    fixedContentPos: false,
                    fixedBgPos: true,
                    overflowY: 'auto',
                    closeBtnInside: true,
                    preloader: false,
                    midClick: true,
                    removalDelay: 300,
                    mainClass: 'my-mfp-zoom-in'
                });
            });
        </script>
    </h:head>
    <body>
        <div class="single">
            <div class="container">
                <div class="header-top">
                    <div class="logo">
                        <h:link outcome="GuestMainPage"><h:graphicImage name="images/logo.png" library="images"/></h:link>
                    </div>
                    <div class="header_right">
                        <ul class="social">
                            <li><a href=""> <i class="fb"> </i> </a></li>
                            <li><a href=""><i class="tw"> </i> </a></li>
                            <li><a href=""><i class="utube"> </i> </a></li>
                            <li><a href=""><i class="pin"> </i> </a></li>
                            <li><a href=""><i class="instagram"> </i> </a></li>
                        </ul>
                        <div class="lang_list">
                            <select tabindex="4" class="dropdown">
                                <option value="" class="label">En</option>
                                <option value="1">English</option>
                                <option value="2">French</option>
                                <option value="3">German</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>  
                <div   class="apparel_box">
                    <br/><br/><br/><br/><br/><br/><br/><br/>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="content_box">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="menu_box">
                                <h3 class="menu_head">Menu</h3>
                                <ul class="nav">
                                    <li><h:link value="Home" outcome="GuestMainPage"/></li>                                    
                                    <li><h:link value="Contact Us" outcome="GuestContactUs"/></li>
                                    <li><a href="https://play.google.com/store?hl=en">Dowenload Mobile App</a></li>
                                </ul>
                            </div>
<!--                            <div class="side_banner">
                                <div class="banner_img"><h:graphicImage name="images/pic9.jpg" library="images"/></div>                               
                            </div>-->
                            
                            <div class="tags">
                                <h4 class="tag_head">Vendors</h4>
                                <ul class="article_links">
                                    <li><h:link value="vendor 1" outcome="GuestVendorProfile"/></li>
                                    <li><h:link value="vendor 2" outcome="GuestVendorProfile"/></li>
                                    <li><h:link value="vendor 3" outcome="GuestVendorProfile"/></li>
                                    <li><h:link value="vendor 4" outcome="GuestVendorProfile"/></li>
                                    <li><h:link value="vendor 5" outcome="GuestVendorProfile"/></li>
                                </ul>
                                <h:link value="view all" outcome="GuestVendorProfile"/>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="dreamcrub">
                                <ul class="breadcrumbs">
                                    <li class="home">
                                        <a href="index.html" title="Go to Home Page">Home</a>&#160;
                                        <span>&gt;</span>
                                    </li>
                                    <li class="women">
                                        Contact Us
                                    </li>
                                </ul>

                                <div class="clearfix"></div>
                            </div>
                            <div class="singel_right">
                                <div class="lcontact span_1_of_contact">
                                    <div class="contact-form">
                                        <form method="post" action="contact-post.html">
                                            <p class="comment-form-author"><label for="author">Your Name:</label>
                                                <input type="text" class="textbox" value="Enter your name here..." onfocus="this.value = '';" onblur="if (this.value == '') {
                                                            this.value = 'Enter your name here...';
                                                        }"/>
                                            </p>
                                            <p class="comment-form-author"><label for="author">From:</label>
                                                <select>
                                                    <option>guest</option>
                                                    <option>admin</option>
                                                </select>
                                            </p>
                                            <p class="comment-form-author"><label for="author">Message:</label>
                                                <textarea value="Enter your message here..." onfocus="this.value = '';" onblur="if (this.value == '') {
                                                            this.value = 'Message';
                                                        }">Enter your message here...</textarea>
                                            </p>
                                            <input name="submit" type="submit" id="submit" value="Send Message"/>
                                        </form>
                                    </div>
                                </div>
                                <div class="contact_grid span_2_of_contact_right">
                                    <h3>Address</h3>
                                    <div class="address">
                                        <i class="pin_icon"></i>
                                        <div class="contact_address">
                                            Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="address">
                                        <i class="phone"></i>
                                        <div class="contact_address">
                                            1-25-2568-897
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="address">
                                        <i class="mail"></i>
                                        <div class="contact_email">
                                            info(at)surfhouse.com
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="brands">
                <ul class="brand_icons">
                    <li><img src='images/icon1.jpg' class="img-responsive" alt=""/></li>
                    <li><img src='images/icon2.jpg' class="img-responsive" alt=""/></li>
                    <li><img src='images/icon3.jpg' class="img-responsive" alt=""/></li>
                    <li><img src='images/icon4.jpg' class="img-responsive" alt=""/></li>
                    <li><img src='images/icon5.jpg' class="img-responsive" alt=""/></li>
                    <li><img src='images/icon6.jpg' class="img-responsive" alt=""/></li>
                    <li class="last"><img src='images/icon7.jpg' class="img-responsive" alt=""/></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="instagram_top">
                <div class="instagram text-center">
                    <h3><i class="insta_icon"> </i> Instagram feed:&#160;<span class="small">#Surfhouse</span></h3>
                </div>
                <ul class="instagram_grid">
                    <li><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="images/i1.jpg" class="img-responsive" alt=""/></a></li>
                    <li><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="images/i2.jpg" class="img-responsive" alt=""/></a></li>
                    <li><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="images/i3.jpg" class="img-responsive" alt=""/></a></li>
                    <li><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="images/i4.jpg" class="img-responsive" alt=""/></a></li>
                    <li><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="images/i5.jpg" class="img-responsive" alt=""/></a></li>
                    <li class="last_instagram"><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="images/i6.jpg" class="img-responsive" alt=""/></a></li>
                    <div class="clearfix"></div>
                    <div id="small-dialog1" class="mfp-hide">
                        <div class="pop_up">
                            <h4>A Sample Photo Stream</h4>
                            <img src="images/i_zoom.jpg" class="img-responsive" alt=""/>
                        </div>
                    </div>
                </ul>
            </div>
            <ul class="footer_social">
                <li><a href="#"> <i class="fb"> </i> </a></li>
                <li><a href="#"><i class="tw"> </i> </a></li>
                <li><a href="#"><i class="pin"> </i> </a></li>
                <div class="clearfix"></div>
            </ul>
        </div>
        <div class="footer">
            <div class="container">
                <div class="footer-grid">
                    <h3>Links</h3>
                    <ul class="list1">
                        <li><a href="apparel.html">Home</a></li>                                    
                            <li><a href="apparel.html">vendors Offer</a></li>
                            <li><a href="apparel.html">vendor Profile</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="apparel.html">Dowenload Mobile App</a></li>
                    </ul>
                </div>
                <div class="footer-grid">
                    <h3>Our Account</h3>
                    <ul class="list1">
                        <li><a href="#">Your Account</a></li>
                        <li><a href="#">Personal information</a></li>
                        <li><a href="#">Addresses</a></li>
                        <li><a href="#">Discount</a></li>
                        <li><a href="#">Orders history</a></li>
                        <li><a href="#">Addresses</a></li>
                        <li><a href="#">Search Terms</a></li>
                    </ul>
                </div>
                <div class="footer-grid">
                    <h3>Our Support</h3>
                    <ul class="list1">
                        <li><a href="#">Site Map</a></li>
                        <li><a href="#">Search Terms</a></li>
                        <li><a href="#">Advanced Search</a></li>
                        <li><a href="#">Mobile</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Mobile</a></li>
                        <li><a href="#">Addresses</a></li>
                    </ul>
                </div>
                <div class="footer-grid">
                    <h3>Newsletter</h3>
                    <p class="footer_desc">Nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                    <div class="search_footer">
                        <input type="text" class="text" value="Insert Email" onfocus="this.value = '';" onblur="if (this.value == '') {
                                    this.value = 'Insert Email';
                                }"/>
                        <input type="submit" value="Submit"/>
                    </div>
                    <img src="images/payment.png" class="img-responsive" alt=""/>
                </div>
                <div class="footer-grid footer-grid_last">
                    <h3>About Us</h3>
                    <p class="footer_desc">WELCOME TO HATSWAQ The only online store you will ever need for all your Offer and main products.</p>
                    <p class="f_text">Phone:  &#160;&#160;&#160;00-250-2131</p>
                    <p class="email">Email: &#160;&#160;&#160;<span>info(at)Surfhouse.com</span></p>	
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="copy">
                    <p>&#169; 2016 ITI  <a href="http://w3layouts.com" target="_blank"> Hatswaq</a></p>
                </div>
            </div>
        </div>
    </body>
</html>
