<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <div id="cssmenu">
        <ul>
            <li class='has-sub'><a href='#'><span>Mobile</span></a>
                <ul>
                    <li><a href='#'><span>Samsung</span></a></li>
                    <li><a href='#'><span>Sony</span></a></li>
                    <li><a href='#'><span>HTC</span></a></li>
                    <li><a href='#'><span>IPhone</span></a></li>
                    <li><a href='#'><span>LG</span></a></li>
                    <li><a href='#'><span>Google</span></a></li>
                    <li><a href='#'><span>Nokia</span></a></li>
                    <li class='last'><a href='#'><span>Huawei</span></a></li>
                </ul>
            </li>
            <li class='has-sub'><a href='#'><span>Accessories</span></a>
                <ul>
                    <li><a href='#'><span>Bluetooth Headsets</span></a></li>
                    <li><a href='#'><span>Selfi Stick</span></a></li>
                    <li><a href='#'><span>Chargers</span></a></li>
                    <li><a href='#'><span>Batteries</span></a></li>
                    <li class='last'><a href='#'><span>Cases</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
</ui:composition>
